.custom-card-style {
  max-width: 1900px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
